.App {
  text-align: center;
}
body {
  background-color: black;
}
.headArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: yellow;
  padding: 5px;
  margin: 1vh;
  border-radius: 0.8rem;
}
.submit {
  background-color: yellow;
  margin-top: 5vh;
  margin-bottom: 1vh;
  color: black;
  padding: 5px;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
